.main-large {
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
}

.left-large {
    float: left;
    width: 15vw;
    min-width: 140px;
    height: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.right-large {
    float: right;
    width: 85vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.main-small {
    width: 100%;
    height: 100vh;
    display: table;
    margin: 0;
    padding: 0;
}

.left-small {
    width: 100%;
    height: 16%;
}

.right-small {
    width: 100%;
    height: 84%;
}